# ============================================================
# macOS
# ============================================================

.DS_Store


# ============================================================
# R
# ============================================================

.Rhistory
.RData
.Ruserdata


# ============================================================
# RStudio
# ============================================================

.Rproj.user/


# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
.venv/
venv/
env/


# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/


# ============================================================
# Large / raw data
# ============================================================

data/raw/


# =========================================================================================================
# Generated results
# =================================

results/

# ============================================================
# Generated Seurat objects
# ============================================================
data/*.rds
